.neon-button:hover {
    box-shadow: 0 0 15px #9ED5C5, 0 0 40px #9ED5C5, 0 0 60px #9ED5C5;
    transform: scale(1.05);
}

@keyframes blink {
    0% {
      border-right: 4px solid transparent;
    }
    50% {
      border-right: 4px solid #9ED5C5; 
    }
    100% {
      border-right: 4px solid transparent;
    }
  }
  
  .typewriter-text {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    padding-right: 4px;
    animation: blink 0.8s step-end infinite;
  }
  
.typing-text {
    font-family: 'Courier New', Courier, monospace;
    color: #00ffcc;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    animation: fadeIn 2s forwards, blink 0.8s step-end infinite;
}


.modal {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  width: 400px; 
  background-color: rgb(62, 221, 62);
  margin: 10px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: green; 
}

.timer {
  height: 4px; 
  background-color: rgb(240, 137, 63); 
  width: 100%;
  position: absolute;
  bottom: -5px; 
  left: 0;
  animation: timer 2s forwards; 
}

@keyframes timer {
  from { width: 100%; }
  to { width: 0; }
}

@keyframes moveStripes {
  from { background-position: 0 0; }
  to { background-position: 30px 30px; }
}

@keyframes progressMove {
  0% { transform: translateX(0); }
  50% { transform: translateX(2%); }
  100% { transform: translateX(0); }
}